{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatibus vero harum perspiciatis ex? Tempore optio temporibus sit quia quod, alias impedit. In quia laboriosam officiis consectetur itaque consequatur, cupiditate sunt recusandae impedit expedita dolores repellat aut facere nobis assumenda aperiam possimus tempora ex at suscipit quae, ad error quam dolore? Itaque, fugiat tenetur quod, culpa corrupti officia soluta a fuga illo architecto iusto deleniti quasi ea sint perspiciatis doloribus et adipisci voluptas neque laborum! Quidem, deserunt nisi officiis fuga fugiat odio necessitatibus earum porro accusantium, illo esse! Expedita facilis possimus quisquam quae, accusamus earum cupiditate? Animi quos a alias.</p>
    
<p>Website created by {{username}}</p>
{% endblock %}