<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
    <form action="/store" method="post" enctype="multipart/form-data">

        Nombre:
        <input type="text" name="txtNombre" id="txtNombre">
        <br>
        Correo:
        <input type="text" name="txtCorreo" id="txtCorreo">
        <br>
        Foto:
        <input type="file" name="txtFoto" id="txtFoto">
        <br>
        <input type="submit" value="Agregar">
    </form>


</body>
</html>