<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CRUD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>Hola Flask</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>NombreFoto</th>
            <th>Correo</th>
            <th>Foto</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{empleado[0]}}</td>
                    <td>{{empleado[1]}}</td>
                    <td>{{empleado[2]}}</td>
                    <td>{{empleado[3]}}</td>
                    <td>
                        <a href="/edit/{{empleado[0]}}">Editar</a> | 
                        <a href="/destroy/{{empleado[0]}}">Eliminar</a>
                    </td>                
                </tr>
            {% endfor %}
            

        </tbody>
    </table>
</body>
</html>